/* layout definition */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
}

body.body--styleguide {
  display: block;
  overflow: scroll;
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

.layout-right {
  flex-grow: 1;
}

.layout-left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  width: $layout-left-width;

}

.top-left {
  flex-shrink: 0;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
}

.bottom-left {
  flex-grow: 0;
  height: 100%;
}

.bottom-right {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
  background-color: #f5f5f2;
}

/* GRID def */
.container {
  width: 100%;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

