/* layout definition */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  flex-flow: column;
}

body.body--styleguide {
  display: block;
  overflow: scroll;
}

.layout-row-top {
  display: flex;
  height: $layout-row-top-height;
  flex-shrink: 0;
}

.layout-row-bottom {
  display: flex;
  flex-grow: 1;
}

.layout-row-top-left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  width: $layout-left-width;
}

.layout-row-top-right {
  flex-shrink: 0;
  flex-grow: 1;
  display: inline-flex;
}

.layout-row-bottom-left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  width: $layout-left-width;
}

.layout-row-bottom-right {
  overflow: scroll;
  flex-grow: 1;
}

/* GRID def */
.container {
  width: 100%;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }


@media(max-width: 768px) {
  .layout-row-top {
    flex-flow: column;
    width: 100%;
  }

  .layout-row-bottom {
    flex-flow: column;
  }

  .layout-row-top-left {
    width: 100%;
  }

  .layout-row-bottom-left {
    width: 100%;
  }
  .noshow {
    display: none;
  }
}

.show {
  display: block;
}

