/* Colors */

$color-grey-l5: #333333;
$color-grey-l4: #979797;
$color-grey-text: #a6a6a6; // nieużywany
$color-grey-l3: #bababa;
$color-grey-l2: #e3e3e3;
$color-grey-l1: #f5f5f2;
$color-white: #ffffff;
$color-orange-strong: #f58220;
$color-orange-soft: #ffa200;
$color-green: #04ae00;
$color-green-pastel-strong: #74b67a;
$color-green-pastel-soft: #96cc9b;
$color-blue: #56819f;
$color-red: #ff0000;
$color-red-pastel-strong: #de5252;
$color-red-pastel-soft: #ec7171;
$color-background-menu: #191919;

/* Font sizes */
$font-size-very-large: 18px;
$font-size-large: 16px;
$font-size-normal: 14px;
$font-size-small: 13px;
$font-size-very-small: 12px;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-heavy: 700;

$font-size-header: $font-size-large;
$font-size-large-table: $font-size-small;
$font-size-button: $font-size-very-large;
$font-size-messenger: 30px;

/* Fonts */
$font: "Roboto", Helvetica, Sans-Serif;
