@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "styleguide";
@import "components/icons";
@import "components/buttons";
@import "components/forms";
@import "components/pagination";
@import "sections/section_generic";
@import "sections/navigation";
@import "sections/header";
@import "sections/general_statistic";
@import "sections/personal_data";
@import "sections/links";
@import "sections/details";
@import "sections/payout";
@import "sections/postback";

body {
  color: $color-grey-text;
  font-family: $font;
  font-weight: $font-weight-normal;
}

b, strong {
  font-weight: $font-weight-heavy;
}

button:focus, textarea:focus, input:focus{
  outline: none;
}

.header-page {
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  line-height: 46px;
  margin-left: 17px;
  font-size: $font-size-large;
}

.header-section {
  font-weight: 700;
  font-size: $font-size-large;
  margin: 0;
}

a {
  color: $color-blue;
  font-weight: $font-weight-light;
  text-decoration: none;
  .large {
    font-size: $font-size-large;
  }
  .small {
    font-size: $font-size-small;
  }
  &:hover {
    color: $color-orange-soft;
    cursor: pointer;
  }
}

/* Components */
//import "components/form_field";

/* Sections */
//import "section/registration_form";

/* Pages / Views */
//import "pages/registration";