.btn {
  color: $color-white;
  width: max-content;
  height: 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 33px;
  font-size: $font-size-large;
  font-weight: $font-weight-light;
}

.btn--centered {
  margin: 23px auto;
}

.btn--right {
  float: right;
}

.btn--grey {
  background-color: $color-grey-l4;
  border: solid 3px $color-grey-l4;
  &:hover {
    background-color: $color-grey-l3;
    border: solid 3px $color-grey-l3;
  }
  &:active {
    border: solid 3px $color-grey-l4;
  }
}

.btn--orange {
  background-color: $color-orange-strong;
  border: solid 3px $color-orange-strong;
  &:hover {
    background-color: $color-orange-soft;
    border: solid 3px $color-orange-soft;
  }
  &:active {
    border: solid 3px $color-orange-strong;
  }
}

.btn--disabled {
  background-color: $color-grey-l2;
  border: solid 3px $color-grey-l2;
  cursor: default;
}

.btn--close {
  cursor: pointer;
  &:hover {
    background-color: $color-grey-l2;
    i {
      fill: $color-orange-strong;
    }
  }
}

.btn--icon {
  fill: $color-white;
  padding: 4px 8px;
  &:hover .icon {
    fill: $color-white;
  }
}