.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
  &:hover {
    fill: $color-orange-soft;
    cursor: pointer;
  }
}

.icon-link {
  margin-top: 2px;
}
