.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  background-size: 16px 16px;
  &:hover {
    fill: $color-orange-soft;
    cursor: pointer;
  }
}

.icon-link {
  margin-top: 2px;
}

.icon-delete {

}